@font-face {
    font-family: 'Poker';
    src: url('@/assets/fonts/Poker.ttf') format('truetype')
}

body {
    background: linear-gradient(90deg, rgba(255, 138, 0, 0.1), rgba(229, 46, 113, 0.1));
    overflow-x: hidden;
}

.inputs-container {
    display: flex;
    position: relative;
    width: 40%;
    background-color: #ffffff95;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 40px;
    clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
    transition: all .2s ease;
    
    & h2{
        margin: 0;
    }
}

/* Premier conteneur : déplacement vers la droite au survol */
.inputs-container:nth-child(2):hover {
    transform: translateX(10vw) scale(1.05);
}

/* Deuxième conteneur : déplacement vers la gauche au survol */
.inputs-container:nth-child(3):hover {
    transform: translateX(-10vw) scale(1.05);
}

/* Synchronisation des déplacements entre les deux conteneurs */
.inputs-container:nth-child(2):hover ~ .inputs-container:nth-child(3) {
    transform: translateX(10vw);
}

@supports selector(:has(+ *)) {
    .inputs-container:has(+ .inputs-container:hover) {
        transform: translateX(-10vw);
    }
}

.homepage-form{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}

.textInput {
    /* transform: translate(-50%, -50%); */
    width: 200px;
    padding: 10px;
    font-size: 16px;
    position: relative;
    text-align: center;
    border-radius: 30px;
    padding: 15px 20px;

    padding: 0.5rem;
    border: double 3px transparent;
    border-radius: 50px;
    background-image: linear-gradient(white, white), 
    linear-gradient(90deg, #ff8a00, #e52e71);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: all .2s ease;
}

.textInput:focus {
    outline: none; /* Désactive le contour par défaut */
    border-color: transparent; /* Garde la couleur du bord existant */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* transform: scale(1.08); */
}

#titre{
    font-size: 4rem;
    font-family: 'Poker';
    margin : 2vh 0 0 0;
    pointer-events: none;
    transform: translateY(-3vh);
}

#pseudoDiv {
    position: relative;
    width: 100vw;
    margin: 8vh 0 4vh 0;
}

#pseudo {
    position: relative;
}

.submitBtn {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    border: none;
    border-radius: 50px;
    color: white;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    width: 17vw;
    transition: all .2s ease;
}

.submitBtn:hover {
    transform: scale(1.05);
}

.inputsTitle{
    width: 100%;
    pointer-events: none;
}

.joinRoomDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0px;
    height: fit-content;
    display: none;
}

.joinRoomDiv:last-of-type {
    display: block;
    width: 100%;
}

h2 {
    font-family: Verdana, sans-serif;
    font-size: 2rem;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    color: transparent;
}
